<div>
  <br>
  <div class="container">
    <div class="container">
      <div  fxLayout="column" fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon> Nueva clase
          </button>
        </div>
        <div class="blocks">
          <a button mat-raised-button color="primary" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
            <mat-icon>input</mat-icon>Login to Add Post
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Gestión Clases</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">                
                <ng-container matColumnDef="curso">
                  <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="anio">
                  <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.anio}} </mat-cell>
                </ng-container>                
                <ng-container matColumnDef="tipoClase" >
                  <mat-header-cell *matHeaderCellDef > Tipo </mat-header-cell>
                  <mat-cell *matCellDef="let element" > {{element.tipoClase.descripcion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fechaCreacion">
                  <mat-header-cell *matHeaderCellDef fxHide.xs> Fecha creacion </mat-header-cell>
                  <mat-cell *matCellDef="let element" fxHide.xs> {{element.fechaAlta  | date: 'd/M/y'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'columnButton'"></mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="'columnButton'">
                    <a (click)="editPost(element.position)" type="button">
                      <mat-icon class="icon">edit</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'columnButton'"></mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="'columnButton'">
                    <a (click)="deleteClase(element.idClase)" type="button">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
